.mensaje{
  max-width: 500px;
            padding: 40px;
            background: rgba(255, 255, 255, 0.1);
            border-style: double;
            border-color: aliceblue;
            margin: 0 auto;
}
.volver {
            display: inline-block;
            padding: 12px 25px;
            background: rgba(255, 255, 255, 0.2);
            color: white;
            text-decoration: none;
            transition: 0.3s;
            font-weight: bold;
            align-items: center;
            text-align: center;
}
.error{
            font-family: 'Times New Roman', Times, serif;
            background: linear-gradient(135deg, darkred, rgb(75, 3, 3));
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 900px;
            text-align: center;
            flex-direction: column;
}