.logo {
    display: block;
  margin: 0 auto;
  position: relative;
  left: 410px;
  top: -530px; 
  border-style: double;
  border-color: #fff;
  height: 560px;
  width: auto;
}
.foto1 {
  height: 400px;
  width: auto;
  margin-left: 800px; 
            display: block;
  position: relative;
  top: -70px;
  border-style: double;
  border-color: aliceblue; 
}
.foto2 {
  height: 400px;
  width: auto;
  margin-left: 800px; 
            display: block;
  position: relative;
  top: -70px;
  border-style: double;
  border-color: aliceblue;
}
.foto3 {
  height: 400px;
  width: auto;
  margin-left: 800px; 
            display: block;
  position: relative;
  top: -70px;
  border-style: double;
  border-color: aliceblue;
}
.foto4 {
  height: 400px;
  width: auto;
  margin-left: 800px; 
            display: block;
  position: relative;
  top: -70px;
  border-style: double;
  border-color: aliceblue;
}
.foto5 {
  height: 400px;
  width: auto;
  margin-left: 800px; 
            display: block;
  position: relative;
  top: -70px;
  border-style: double;
  border-color: aliceblue;
}
.foto6 {
  height: auto;
  width: 500px;
 margin-left: 955px; 
            display: block;
  position: relative;
  top: -280px;
  border-style: double;
  border-color: aliceblue;
}
.foto7 {
  height: auto;
  width: 500px;
  margin-left: 980px; 
            display: block;
  position: relative;
  top: -160px;
  border-style: double;
  border-color: aliceblue;
}
.foto8 {
  height: auto;
  width: 500px;
  margin-left: 980px; 
            display: block;
  position: relative;
  top: -380px;
  border-style: double;
  border-color: aliceblue;
}