.nombre1, .nombre2, .nombre3, .nombre4, .nombre5 {
  background-color: #6c2626;
  font-size: larger;
  color: #fff;
  padding: 15px;
  border-style: double;
  border-color: #fff;
}
.nombre1 { 
    margin-right: 1050px;
}
.nombre2 { margin-right: 1050px;
}
.nombre3 { margin-right: 1050px; 
}
.nombre4 { margin-right: 1050px; 
}
.nombre5 { margin-right: 1050px; 
}
.hr {
            display: block;
  position: relative;
  top: -100px;

}
.reparto {
  background-color: darkred;
}
.Datos {display: block;
    position: relative;
    top: -180px;
    padding: 25px;
  background-color: #6c2626;
  font-size: large;
  color: #fff;
  border-style: double;
  border-color: black;
}
.Datos2 {
  display: block;
    position: relative;
    top: -150px;
    padding: 25px;
  background-color: #6c2626;
  font-size: large;
  color: #fff;
  border-style: double;
  border-color: black;
}
.redes {
  font-size: x-large;
  margin-right: 1150px;
  margin-left: 50px;
  padding: 10px;
  border-style: double;
  border-color: #fff;
  background-color: rgb(146, 87, 87);
  color: #fff;
}