.inicio {
  margin: 0;
  background-color: darkred;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #6c2626;
  border-style: double;
  padding: 10px 20px;
  margin: 35px auto;
}
.menu li {
  margin-right: 50px;
  margin-left: 70px;
}
.menu a {
  text-decoration: none;
  color: #fff;
}
.logo {
    display: block;
  margin: 0 auto;
  position: relative;
  left: 410px;
  top: -530px; 
  border-style: double;
  border-color: #fff;
  height: 560px;
  width: auto;
}
.Titulo {
  margin-left: 550px;
  margin-right: 600px;
  border-style: double;
  border-color: black;
  color: #fff;
  background-color: #6c2626;
  padding: 10px 20px;
}
.TITULOa{
    color: aliceblue;
    margin-left: 360px;
}
.TITULO2 {
  margin-left: 400px;
  color: #fff;
}
.TITULO3 {
  margin-top: 50px;
  margin-left: 200px;
  color: #fff;
}
.TITULO4 {
  color: #fff;
  margin-left: 450px;
  display: block;
  position: relative;
  top: -200px;
}
.TITULO5 {
  color: #fff;
  margin-left: 50px;
  display: block;
  position: relative;
  top: -150px;
}
.TITULO6 {
  color: #fff;
  margin-right: 690px;
  margin-left: 650px;
  border-style: double;
  border-color: #fff;
  padding: 10px;
  background-color: #6c2626;
}
.TITULO7{
    color: #fff;
  margin-left: 50px;
  display: block;
  position: relative;

}
.Texto1, 
.Texto2, 
.Texto3, 
.Texto4, 
.Texto5, 
.Texto6,
.Texto7, 
.Texto8, 
.Texto9, 
.Texto10, 
.Texto11, 
.Texto12,
.Texto13, 
.Texto14, 
.Texto15 {
  padding: 25px;
  font-size: large;
  background-color: #6c2626;
  border-style: double;
  color: #fff;
}
.Texto1 { margin-left: 55px;
          margin-right: 700px; 
            display: block;
  position: relative; 
}
.Texto2 { margin-left: 55px;
          margin-right: 700px; 
          top: 25px;
            display: block;
  position: relative; 
}
.Texto3 {margin-left: 55px;
          margin-right: 700px; 
          top: 50px;
            display: block;
  position: relative; 
}
.Texto4 { margin-left: 55px;
          margin-right: 550px; 
            display: block;
  position: relative;
  top: 5px; 
}
.Texto5 { margin-left: 55px;
          margin-right: 550px; 
            display: block;
  position: relative;
  top: -280px; 
}
.Texto6 { margin-left: 55px;
          margin-right: 550px; 
            display: block;
  position: relative;
  top: -250px; 
}
.Texto7 { margin-left: 55px;
          margin-right: 550px; 
            display: block;
  position: relative;
  top: -528px; 
}
.Texto8 { 
          margin-right: 800px; 
            display: block;
  position: relative;
  top: -400px; 

}
.Texto9 { margin-right: 800px; 
            display: block;
  position: relative;
  top: -400px; 
}
.Texto10 { margin-right: 800px; 
            display: block;
  position: relative;
  top: -400px;  
}
.Texto11 { margin-right: 800px; 
            display: block;
  position: relative;
  top: -400px; 
}
.Texto12 { margin-right: 800px; 
            display: block;
  position: relative;
  top: -400px;  
}
.Texto13 { margin: 20px 600px 20px 100px; 
}
.Texto14 { margin: 20px 600px 20px 100px; 
}
.Texto15 { display: block;
    position: relative;
    top: -180px; 
}
.nombre1, .nombre2, .nombre3, .nombre4, .nombre5 {
  background-color: #6c2626;
  font-size: larger;
  color: #fff;
  padding: 15px;
  border-style: double;
  border-color: #fff;
}
.nombre1 { 
    margin-right: 1050px;
}
.nombre2 { margin-right: 1050px;
}
.nombre3 { margin-right: 1050px; 
}
.nombre4 { margin-right: 1050px; 
}
.nombre5 { margin-right: 1050px; 
}
.foto1 {
  height: 400px;
  width: auto;
  margin-left: 800px; 
            display: block;
  position: relative;
  top: -70px;
  border-style: double;
  border-color: aliceblue; 
}
.foto2 {
  height: 400px;
  width: auto;
  margin-left: 800px; 
            display: block;
  position: relative;
  top: -70px;
  border-style: double;
  border-color: aliceblue;
}
.foto3 {
  height: 400px;
  width: auto;
  margin-left: 800px; 
            display: block;
  position: relative;
  top: -70px;
  border-style: double;
  border-color: aliceblue;
}
.foto4 {
  height: 400px;
  width: auto;
  margin-left: 800px; 
            display: block;
  position: relative;
  top: -70px;
  border-style: double;
  border-color: aliceblue;
}
.foto5 {
  height: 400px;
  width: auto;
  margin-left: 800px; 
            display: block;
  position: relative;
  top: -70px;
  border-style: double;
  border-color: aliceblue;
}
.foto6 {
  height: auto;
  width: 500px;
 margin-left: 955px; 
            display: block;
  position: relative;
  top: -280px;
  border-style: double;
  border-color: aliceblue;
}
.foto7 {
  height: auto;
  width: 500px;
  margin-left: 980px; 
            display: block;
  position: relative;
  top: -160px;
  border-style: double;
  border-color: aliceblue;
}
.foto8 {
  height: auto;
  width: 500px;
  margin-left: 980px; 
            display: block;
  position: relative;
  top: -380px;
  border-style: double;
  border-color: aliceblue;
}
.hr {
            display: block;
  position: relative;
  top: -100px;

}
.acercade {
  background-color: darkred;
}
.titulosinopsis {
  margin-left: 550px;
  margin-right: 600px;
  border-style: double;
  border-color: black;
  color: #fff;
  background-color: #6c2626;
  padding: 10px 12px;
}
.reparto {
  background-color: darkred;
}
.Datos {display: block;
    position: relative;
    top: -180px;
    padding: 25px;
  background-color: #6c2626;
  font-size: large;
  color: #fff;
  border-style: double;
}
.Datos2 {
  display: block;
    position: relative;
    top: -150px;
    padding: 25px;
  background-color: #6c2626;
  font-size: large;
  color: #fff;
  border-style: double;
}
.redes {
  font-size: x-large;
  margin-right: 1150px;
  margin-left: 50px;
  padding: 10px;
  border-style: double;
  border-color: #fff;
  background-color: rgb(146, 87, 87);
  color: #fff;
}
.footer,
.footer2,
.footer3 {
  color: #fff;
  margin-left: 550px;
}
.footer { margin-top: 10px; 
}
.footer2 { margin-top: 50px; 
}
.footer3 { margin-top: 400px; 
}