<<<<<<< HEAD
@import "Página.css";
@import "Textos.css";
@import "error.css";
@import "Imagenes.css";
@import "Titulos.css";
@import "Reparto.css";
=======
@import "Página.css";
@import "Textos.css";
@import "error.css";
@import "Imagenes.css";
@import "Titulos.css";
@import "Reparto.css";
>>>>>>> 90cb6f42a73c4e6f544cf64ac45182e4d03b559e
