.Titulo {
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;
  border-style: double;
  border-color: black;
  color: aliceblue;
  background-color: #6c2626;
  padding: 10px;
}
.TITULOa{
    color: aliceblue;
    margin-left: 360px;
}
.TITULO2 {
  margin-left: 400px;
  color: aliceblue;
}
.TITULO3 {
  margin-top: 50px;
  margin-left: 200px;
  color: aliceblue;
}
.TITULO4 {
  color: aliceblue;
  margin-left: 450px;
  display: block;
  position: relative;
  top: -200px;
}
.TITULO5 {
  color: aliceblue;
  margin-left: 50px;
  display: block;
  position: relative;
  top: -150px;
}
.TITULO6 {
  display: inline-block;
  color:aliceblue;
  border-style: double;
  border-color: aliceblue;
  padding: 10px;
  background-color: #6c2626;
  text-align: center;
  margin-left: 50px;
}
.TITULO7{
    color: aliceblue;
  margin-left: 50px;
  display: block;
  position: relative;

}
.TITULOE{
   color: aliceblue;
   background-color: #6c2626;
   padding: 10px;
   border-style: double;
   border-color: aliceblue;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
}